/* Asterisk selector means "everything". Put at the top of CSS-all sizing rules will apply to the content, padding, and border. Margin will still be outside.
*/
* {
  box-sizing:border-box;
}

body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

img {
  border-style: groove;
  border-width: thick;
  border
}
